<h1 xmlns="http://www.w3.org/1999/html">Add Item</h1>
<h3>Please send 100SYS to SQ9cZdEw8Yp4GaNfHQme2bi7A17s4MJGtC before adding an item.</h3>
<h3>This wallet is empty otherwise and you will not be able to have an offer created.</h3><br>
<form style="width: 50%">
  <div class="alert alert-success" role="alert" ng-show="pendingItems">You have {{pendingItems}} item(s) awaiting blockchain confirmation</div>
  <div class="form-group">
    <label for="inputTitle">Item Title</label>
    <input type="text" class="form-control" id="inputTitle" placeholder="Item Title">
  </div>
  <div class="form-group">
    <label for="inputCategory">Category</label>
    <input type="text" class="form-control" id="inputCategory" placeholder="Category">
  </div>
  <div class="form-group">
    <label for="inputQuantity">Quantity</label>
    <input type="text" class="form-control" id="inputQuantity" placeholder="Quantity">
  </div>
  <div class="form-group">
    <label for="inputPrice">Price</label>
    <div class="input-group">
      <input type="text" class="form-control" id="inputPrice" placeholder="0.00">
      <span class="input-group-addon">SYS</span>
    </div>
  </div>
  <div class="form-group">
    <label for="inputDescription">Description (optional)</label>
    <textarea id="inputDescription" rows="4" class="form-control"></textarea>
  </div>
  <div class="form-group">
    <input id="addItemBtn" type="submit" class="btn btn-primary" value="Add Item" />
    <input type="reset" class="btn btn-default" value="Reset"/>
  </div>
</form>