<div class="template">
  <h1 style="text-align:left">Cert Issuers</h1>
    <table ng-if="items.length > 0" class="table table-hover table-striped">
    <thead>
    <tr>
      <th>Certissuer Name</th>
      <th>Certissuer</th>
      <th>Address</th>
      <th>Price</th>
    </tr>
    </thead>
    <tbody>
      <tr class="item-row" ng-repeat="item in items">
        <td><a href="#/getcertissuer/{{ item.id }}">{{ item.value }}</a></td>
        <td>{{ item.certissuer }}</td>
        <td>{{ item.address }}</td>
        <td>{{ item.price }}</td>
      </tr>
    </tbody>
  </table>
</div>
