<div class="template">
  <h1 style="text-align:left">Dividend Calculator</h1>
<form style="width: 50%">
  <div class="form-group">
    <label for="inputTitle">Offer GUID</label>
    <input type="text" class="form-control" id="inputTitle" placeholder="Item Title">
  </div>
  <div class="form-group">
    <label for="inputCategory">Total Dividend</label>
    <input type="text" class="form-control" id="inputCategory" placeholder="Category">
  </div>
  <div class="form-group">
    <input id="dividendBtn" type="submit" class="btn btn-primary" value="Calculate" />
    <input type="reset" class="btn btn-default" value="Reset"/>
  </div>
</form>
</div>
